* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  color: #f0f0f0;
  background: #343739;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page {
  width: 60%;
}

.form-page h3,
.liked-display h4 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-page form {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-page form label {
  width: 30%;
  float: left;
  font-size: 1.5rem;
}

.form-page form:nth-of-type(3) {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.form-page form:nth-of-type(3) input {
  width: 36%;
}

.form-page form input {
  width: 70%;
  height: 100%;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}

button {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  color : #343739;
  background: #f0f0f0;
  margin-top: 20px;
  margin-left: 25%;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: #343739;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.liked-display {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liked-display h5 {
  font-size: 1.3rem;
}

.liked-display p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.liked-display button {
  margin-left: 0;
}

.movie,
.music {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1),
.music div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover,
.music:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2),
.music div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img,
.music div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3),
.music div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span,
.music div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3,
.music div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2),
.music:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3),
.music:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1),
.music:hover div:nth-of-type(1) {
  opacity: 1;
}

.form-page p {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.liked-display p {
  color: #f9d3b4;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .form-page,
  .liked-display {
    width: 90%;
  }

  button {
    width: 100%;
    margin-left: 0;
  }
}